<div class="header-page"></div>
<div class="container">

    <nav aria-label="breadcrumb">
        <p></p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Galeria</li>
        </ol>
    </nav>

    <hr>

    <div class="row">

        <div class="col-md-12">
            <ul class="list-photos">
                {loop="$albums"}
                <li>
                    <a href="/galeria/{$value.id}"><img src="{function="url($value.image)"}" alt="{$value.album}"></a>
                </li>
                {/loop}
            </ul>
        </div>

    </div>

</div><!-- container -->