<div class="container">
  <section id="inicio">
    <br />
    <h2> Você quer criar e gerenciar uma campanha no Instagram?</h2>
    <h2> Se quiser, precisa fazer direito.</h2>

    <p>
      O Instagram é uma plataforma empolgante, e é uma das que crescem mais rápido por aí. Ele tem mais de 300 milhões de usuários ativos por dia, de acordo com
    </p>

    <p>
      Mas cuidado: Gerenciar uma campanha eficiente não é tão fácil quanto parece.
    </p>

    <p>
      Cada plataforma é única, e o Instagram não é exceção. Para criar uma campanha no Instagram, você irá precisar entender quais fatores os usuários do Instagram estão buscando.
    </p>
    <p>Eu já trabalhei muito com o Instagram, então, vou explicar exatamente como funciona nesse artigo.</p>

    <p>Em primeiro lugar e acima de tudo, você precisa entender exatamente o que espera alcançar com sua campanha do Instagram.</p>

    <p>Se o seu objetivo é fazer as pessoas irem a um evento ou à sua loja local, precisa escolher sua estratégia de campanha com sabedoria. Certas táticas, como promover concursos e hashtags, irão funcionar melhor</p>
  </section>
</div>
