<header style="height: 140px;"> 
</header>

<div class="container">
  <section class="section-title">

   <h2>Criação de artes para site e Redes Sociais</h2>

    <p>
      Sim, porque seu público está constantemente consumindo informação através das redes sociais e certamente procurará por sua marca nestes mesmos canais.    
      Sua marca precisa estar presente de forma profissional, fortalecendo a imagem do seu negócio perante sua audiência.   
      Seja no Facebook, Twitter, Google Plus ou YouTube, contrate nossa equipe para desenvolver as artes que personalizarão as suas contas nas redes sociais.
    </p>

    <h2>Plano Imagens P/ Redes Sociais</h2>

    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Básico</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$ 100,00 <small class="text-muted">/ mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><i class="fas fa-check"></i> Atualização de conteúdo do 1x<br/> por semana.</li>
            <li><i class="fas fa-check"></i> Facebook 1x por semana.</li>
            <li><i class="fas fa-check"></i> Instagram 1x por semana.</li>
            <li><i class="fas fa-check"></i> Tweeter 1x por semana.</li>
            <li><i class="fas fa-check"></i> Linkedin 1x por semana.</li>
            <li><i class="fas fa-check"></i> Uma reunião via skype ou meet google 1x por semana. (~30mim)</li>
          </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/checkout/100">CONTRATAR</a>
        </div>
      </div>


      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Prata</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$ 250,00 <small class="text-muted">/ mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><i class="fas fa-check"></i> Atualização de conteúdo do 3x<br/> por semana.</li>
            <li><i class="fas fa-check"></i> Facebook 3x por semana.</li>
            <li><i class="fas fa-check"></i> Instagram 3x por semana.</li>
            <li><i class="fas fa-check"></i> Tweeter 3x por semana.</li>
            <li><i class="fas fa-check"></i> Linkedin 3x por semana.</li>
            <li><i class="fas fa-check"></i> Uma reunião via skype ou meet google 1x por semana. (~1h)</li>
          </ul>
          <a class="btn btn-lg btn-block btn-success" href="/checkout/250">CONTRATAR</a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Bronze</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">R$ 150,00 <small class="text-muted">/ mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li><i class="fas fa-check"></i> Atualização de conteúdo do 2x<br/> por semana.</li>
            <li><i class="fas fa-check"></i> Facebook 2x por semana.</li>
            <li><i class="fas fa-check"></i> Instagram 2x por semana.</li>
            <li><i class="fas fa-check"></i> Tweeter 2x por semana.</li>
            <li><i class="fas fa-check"></i> Linkedin 2x por semana.</li>
            <li><i class="fas fa-check"></i> Uma reunião via skype ou meet google 1x por semana. (~1h)</li>
          </ul>
          <a class="btn btn-lg btn-block btn-success" href="/checkout/150">CONTRATAR</a>
        </div>
      </div>
    </div>
  </section>

</div><!--./container-->
