
<!-- BOTÃO DO TOPO -->
<div class="topo">
  <i class="fas fa-chevron-up"></i>
</div>

<footer>

  <div class="container">

    <div class="row">

      <div class="col-md-12 text-right">
        <a style="color:#FFF" href="https://www.facebook.com/atendimentosociedade" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a style="color:#FFF" href="https://api.whatsapp.com/send?phone=5591980408314" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4 footer-list">
        <h3>Plantão 24 horas</h3>
        (91) 3238 0896 | 98040 8314 | 98894 7555 
        <p></p>
        <h3>Escritório Central </h3>
        <address>
          Rua São Jorge, nº 43 - Conjunto Costa e Silva<br/>
          Marambaia, 66615-550<br/>
          Belém - Pará - Brasil.
        </address>
      </div>
      <div class="col-md-4 footer-list">
        <h3>Principais Serviços</h3>
        <ul>
          <li class="efeito-hr"><a href="/funeraria">Funerária</a><hr></li>
          <li class="efeito-hr"><a href="/cremacao">Cremação</a><hr></li>
          <li class="efeito-hr"><a href="/velorios">Velórios</a><hr></li>
          <li class="efeito-hr"><a href="/cerimonial">Cerimonial</a><hr></li>
          <li class="efeito-hr"><a href="/traslados">Translados</a><hr></li>
          <li class="efeito-hr"><a href="/acolhimento-psicologico">Acolhimento Psicológico</a><hr></li>
        </ul>
      </div>
      <div class="col-md-4 footer-list">
        <h3>Convênios</h3>
        <ul>
          <li class="efeito-hr"><a href="/convenios">Clínica Dr. + Vida</a><hr/></li>
          <li class="efeito-hr"><a href="/convenios">Centro Médico Formosa</a><hr/></li>
          <li class="efeito-hr"><a href="/convenios">Brasmede - Centro Médico</a><hr/></li>
          <li class="efeito-hr"><a href="/convenios">Clínica APIMED - Tapanã</a><hr/></li>
          <li class="efeito-hr"><a href="/convenios">Clínica DR. + Vida</a><hr/></li>
          <li class="efeito-hr"><a href="/convenios">Clínica Pérola</a><hr/></li>
        </ul>
      </div>
   </div>

 </div><!-- /.container -->
 <div class="container-fluid assign">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">© 2020 Sociedade Novo Milenium. Todos os Direitos Reservados.</div>
      <div class="col-md-6 text-right">Desenvolvido por <a target="_blank" href="https://www.dellanosites.com.br">Dellano Sites.</a></div>
    </div>				

  </div>
</div>

 <!-- BOTÃO DO WHATSAPP -->
 <a href="https://api.whatsapp.com/send?l=pt&phone=5591980408314" target="_blank">
  <img src="assets/img/whatsapp.png" width="50px" alt="" class="btn-whatsapp">
</a>

</footer>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
<script src="/bower_components/lightbox2/dist/js/lightbox.min.js" ></script>
<script src="/bower_components/slick-carousel/slick/slick.js" ></script>
<script src="/bower_components/alertifyjs/dist/js/alertify.js" ></script>
<script src="https://unpkg.com/scrollreveal@4.0.7/dist/scrollreveal.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="/assets/js/jquery.mask.min.js" ></script>
<script src="/assets/js/utils.js" ></script>
<script src="/assets/js/script.js" ></script>

<!-- Scripts adicionados por páginas -->
{loop="$scripts"}
<script src="/assets/js/{$value}" ></script>
{/loop}

</body>

</html>
