
<div id="carousel-main" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="assets/img/bk_1.jpg" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>Tudo pela sua vida</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				<a href="" class="btn btn-outline-light btn-lg">Plantão 24 horas</a>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="assets/img/bk_2.jpg" alt="Second slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>Tudo pela sua vida</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				<a href="" class="btn btn-outline-light btn-lg">Plantão 24 horas</a>
			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="assets/img/bk_3.jpg" alt="Third slide">
			<div class="carousel-caption d-none d-md-block">
				<h5>Tudo pela sua vida</h5>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
				<a href="" class="btn btn-outline-light btn-lg">Plantão 24 horas</a>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div> 


<section id="quick-access">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
				<h3>Acesso Rápido</h3>
			</div>
			<div class="col-md-11">				
				<ul>
					<li><a href="#"><i class="fab fa-accessible-icon"></i></span>Cerimonia</a></li>
					<li><a href="#"><i class="fas fa-atlas"></i></span>Cerimonia</a></li>
					<li><a href="#"><i class="fas fa-archway"></i></span>Cerimonia</a></li>
					<li><a href="#"><i class="fas fa-blind"></i></span>Cerimonia</a></li>
					<li><a href="#"><i class="fas fa-bed"></i></span>Cerimonia</a></li>
					
				</ul>
			</div>
			
		</div>
	</div>
</section>



<section id="services" class="dark-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>SERVIÇOS</h2>
					<hr>
					<br/>
					<h5>O MOMENTO É AGORA!</h5>							
				</div>
			</div>
		</div>

		<div class="row card-services">
			<div class="col-md-4">
				<i class="fas fa-laptop-code"></i>
				<h3>Sites Institucionais e hotsites</h3>
				<p>Desenvolvemos sites para empresas. Layouts exclusivos e personalizados, de fácil navegação, adaptável em todas as telas e dispositivos (sites responsivos), integrados com Redes Sociais, cadastro no Google Maps e com monitoramento de visitas e desempenho pelo Google Analytics.</p>
			</div>
			<div class="col-md-4">
				<i class="fas fa-shopping-cart"></i>
				<h3>Lojas Virtuais</h3>
				<p>A loja virtual exibe os produtos e informações essenciais pra possíveis compradores, permanecendo disponível 24h por dia, todos os dias da semana e em todos os dispositivos! E-commerces com layout exclusivo, pensado na navegação e experiência de compra do usuário.</p>
			</div>
			<div class="col-md-4">
				<i class="fas fa-drafting-compass"></i>
				<h3>Artes Digitais e Identidade Visual</h3>
				<p>A padronização da identidade visual demonstra o profissionalismo com que a sua empresa trabalha. O contato visual do cliente com um layout limpo e moderno traz confiança e credibilidade para o seu negócio. Tenha a sua imagem como um grande diferencial!</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="#contact" class="page-scroll btn btn-primary btn-lg">FAÇA UM ORÇAMENTO</a>
			</div>
		</div>
	</div>
	<!-- /.container -->
	<br/>
</section>

<section id="about">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Sobre</h2>
					<hr>

				</div>
			</div>

		</div>
		<div class="row about">
			<div class="col-md-6">
				Profissional com grandes planos e carreira em ascensão, sempre em busca de novos conhecimentos e grandes desafios! 
				Atualmente desenvolvo, analiso, atualizo, projeto e implemento na Secretaria de Educação do Estado do Pará, aplicando melhorias e soluções aos sistemas. 
			</div>
			<div class="col-md-6">
				Trabalho com a <strong>HTML5, PHP, Zend Framework 2, Codeigniter, Slim Framework 3, Linux, Composer, Bower, NPM, Bootstrap, Javascript,  jQuery, React Native, CSS3, MySql, Postgresql, Programa de Versionamento Tortoise Svn, GitHub,</strong>  entre outras tecnologias.</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2 id="trajectory">TRAJETÓRIA</h2>
						<hr>
					</div>
				</div>

			</div>
			<div class="row about trajectory about-collapse"><!-- FOCO -->
				<div class="col-md-6">
					Iniciei minha carreira como técnico de informática, prestando suporte à computadores em uma faculdade da região metropolitana - <b>FIBRA</b>, aonde havia sido contratado de 2007 até 2009. Posteriormente, tive uma outra oportunidade em trabalhar em uma escola particular muito conhecida em Belém, e foi nesta escola que iniciei alguns projetos como designer utilizando programas como, Corel Draw, Photoshop, Dreamweaver, MySql, Fireworks, entre outros. Durante esse tempo que trabalhei no <b>Colégio Sophos</b>, em paralelo iniciei meus estudos com HTML, PHP e SQL, para poder dar suporte ao site da instituição. Pude aprender muita coisa e amadurecer bastante aplicando na prática, conforme as demandas iam surgindo. 
					Em 2011 consegui conciliar mais um trabalho em paralelo de meio período em uma outra faculdade em Ananindeua - <b>ESMAC</b>, aonde fiquei trabalhando até segundo semestre de 2013, já exercendo a função de web designer, aonde desenvolvi um sistema de <b>INSCRIÇÕES PARA PROCESSO SELETIVO</b> para a mesma. Durante esse tempo que me mantive trabalhando nestes dois períodos, nas duas instituições, em 2014, mesmo já tendo obtido algumas promoções no colégio Sophos, decidi encerrar minhas atividades afim de buscar novas oportunidades e ampliar meu conhecimento.
				</div>
				<div class="col-md-6">
					Como eu já havia iniciado a minha vida acadêmica em 2004, no curso de Publicidade e Propaganda e paralisado em 2007, decidi então ingressar novamente em 2015, no curso de Sistemas de Informação. Foi aonde me encontrei como profissional, me dedicando aos estudos e me aprofundando mais ainda em materiais relacionados a linguagem de programação, padrões de projeto, banco de dados, artigos, obtendo cursos, certificados, entre outros materiais que pudesse somar ao meu aprendizado.
					Durante esse período antes de concluir o ensino superior, em 2017 fui contrato para trabalhar no TJ/PA através da <b>MONTREAL INFORMÁTICA</b> para atuar na central de atendimento, aonde prestávamos suporte aos colaboradores terceirizados e concursados do tribunal, nos sistemas e ativos da instituição.
					Quando me formei em 2018, surgiu uma excelente oportunidade na área da programação, para trabalhar como analista de sistemas na <b>SECRETARIA DE EDUCAÇÃO DO ESTADO DO PARÁ</b>, novamente através da <b>MONTREAL INFORMÁTICA</b>. Depois de todo o processo de entrevista e avaliação, fui chamado para assumir o cargo de analista e desenvolvedor no projeto. Na SEDUC, prestamos serviço em manutenção e prevenção nos sistemas novos e legados, aonde trabalho até o momento. Atualmente estou fazendo pós-gradução em Engenharia de Software, segundo semestre, previsão para termino 2021.
				</div>
			</div>

			<div class="row"> 
				<div class="col-md-12 text-center">
					<a class="btn btn-outline-primary btn-read-more" href="#trajectory"><i class="fas fa-chevron-down"></i> Leia mais</a>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>CONJUNTO DE HABILIDADES</h2>
						<hr>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<a style="color:#FFF;text-align: right" href="https://www.flickr.com/photos/88268106@N05/" target="_blank"><i class="fab fa-flickr"></i></a>
					<a style="color:#FFF;text-align: right" href="https://github.com/bladellano/" target="_blank"><i class="fab fa-github"></i></a>
				</div>
			</div>

			<div class="row about">
				<div class="col-md-12">

					Corel Draw
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-default" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					Photoshop
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-default" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					PHP
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					Javascript
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					HTML5
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					CSS3
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					JQuery
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					Linux
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					MySql/Postgress
					<div class="progress" style="height: 6px;">
						<div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

				</div>

			</div>
			<div class="row">
				<div class="col-md-12 text-center"><br/>
					<a download="assets/files/CURRICULO_PADRAO_JUNHO_2020.pdf" href="assets/files/CURRICULO_PADRAO_JUNHO_2020.pdf" class="btn btn-outline-primary btn-lg"> <i class="fas fa-download"></i></i> Download do Curriculo</a>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</section>


	<section id="portfolio" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>NOSSO PORTFÓLIO</h2>
						<hr><br/>
						<h4>SITES E E-COMMERCES</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/adapt-contabilidade.jpg" alt="adapt-contabilidade" class="img-responsive">
							<figcaption>
								<h2>Adapt Contabilidade</h2>
								<p>A Adapt Contabilidade é uma empresa especializada na prestação de serviços nas áreas Contábil, Fiscal/Tributária, Administração de pessoal, Societária e Consultoria empresarial. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="http://adaptcontabilidade.com.br/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/pai-ideia.jpg" alt="pai-ideia" class="img-responsive">
							<figcaption>
								<h2>Paideia Educacional</h2>
								<p>A Paideia Educacional é uma empresa de assessoria e consultoria na área de educação e empresarial. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="http://paideiaeducacional.com/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/rosa-de-saron.jpg" alt="rosadesaron" class="img-responsive">
							<figcaption>
								<h2>Colégio Rosa de Saron</h2>
								<p>Ao longo de sua trajetória, o Colégio Rosa de Saron tem contribuído com a educação por meio de práticas educativas comprometidas com a formação dos seus estudantes. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="https://www.rosadesaroncolegio.com.br/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/parafuscaclube.jpg" alt="parafuscaclube" class="img-responsive">
							<figcaption>
								<h2>Pará Fusca Clube</h2>
								<p>Somos verdadeiros apaixonados pelo fusca! E dessa paixão surgiu o Pará Fusca Clube que foi criado com o objetivo de reunir pessoas amantes desse veículo. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="http://www.parafuscaclube.com.br/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/nortemaquinaspara.jpg" alt="nortemaquinaspara" class="img-responsive">
							<figcaption>
								<h2>Norte Máquinas Pará</h2>
								<p>Fundada no ano de 1986, através do Empresário Paulo Ferreira, a Norte Máquinas esta localizada na cidade de Ananindeua/PA. Destaca-se na representação e distribuição máquinas e suprimentos para indústria em geral. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="http://www.nortemaquinaspara.com.br/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="assets/img/dinamo.jpg" alt="dinamo-educacao" class="img-responsive">
							<figcaption>
								<h2>Dínamo Educação</h2>
								<p>A Dínamo Educação surgiu para fazer com que o seu aprendizado aconteça de maneira agradável, efetiva e econômica. Acesse <i class="fa fa-link" aria-hidden="true"></i></p>
								<a href="http://dinamoeducacao.com/" target="_blank">Link</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
		</div><!-- end container -->
	</section>


	<section id="portfolio-artes" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h4>ARTES &bull; FLYERS &bull; MÍDIAS SOCIAIS &bull; IDENTIDADE VISUAL &bull; LOGOMARCAS</h4>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/43083640780_df478284fb_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/43083640780_df478284fb_o_sm.jpg" class="img-responsive" alt="ceedee">
							<div class="details">
								<h4>FORRÓ DAS TRÊS E MEIA</h4> 
								<p>Flayer</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/41667234620_197c4c70ec_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/41667234620_197c4c70ec_o_sm.jpg" class="img-responsive" alt="elemeno">
							<div class="details">
								<h4>INFLUENCIADORES</h4> 
								<p>Identidade Visual</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/48912677158_511a3cdc83_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/48912677158_511a3cdc83_o_sm.jpg" class="img-responsive" alt="afgee">
							<div class="details">
								<h4>BANCLUB DO BRASIL</h4> 
								<p>Identidade Visual</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="800ms" style="visibility: visible; animation-delay: 800ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/48913175431_946a9f2017_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/48913175431_946a9f2017_o_sm.jpg" class="img-responsive" alt="ceedee">
							<div class="details">
								<h4>DÍNAMO EDUCAÇÃO</h4> 
								<p>Banner para campanha Pós-gradução</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="1000ms" style="visibility: visible; animation-delay: 1000ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/49046454897_76365872d6_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/49046454897_76365872d6_o_sm.jpg" class="img-responsive" alt="elemeno">
							<div class="details">
								<h4>VALTER RODAS</h4> 
								<p>Arte para o Instagram</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="work wow fadeInUp" data-wow-delay="1200ms" style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">
						<a class="gallery-work" href="assets/img/artes-digitais/49046245151_b33e7dfb43_o.jpg" data-lightbox="roadtrip">
							<img src="assets/img/artes-digitais/49046245151_b33e7dfb43_o_sm.jpg" class="img-responsive" alt="afgee">
							<div class="details">
								<h4>Flyer</h4> 
								<p>Arte para Evento</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div><!-- end container -->
	</section>

	<section id="clients" class="light-bg" style="padding: 20px 0px 98px">
		<div class="container">

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Parceiros</h2>
						<hr>
						<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at nostrum quidem, saepe rerum praesentium corrupti, impedit consequuntur distinctio laboriosam perferendis aut vero, aliquid quam temporibus numquam laudantium ipsum ipsa.</p> -->
					</div>
				</div>
			</div>
			<div class="slick-parceiros">
				<div><img src="assets/img/parceiros/logo-para.png" alt=""></div>
				<div><img src="assets/img/parceiros/logo-adapte.png" alt=""></div>
				<div><img src="assets/img/parceiros/logo-link.png" alt=""></div>
				<div><img src="assets/img/parceiros/logo-rsaron.png" alt=""></div>
				<div><img src="assets/img/parceiros/logo-influenciadores.png" alt=""></div>
				<div><img src="assets/img/parceiros/logo-paideia.png" alt=""></div>
			</div>
		</div>
	</section>

	<section id="faq" class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Perguntas Frequente</h2>
						<hr>
						<br/>

						<div class="row">

							<div class="col-lg-6">
								<div id="accordion">
									<div class="card">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
													<i class="fas fa-arrow-circle-down"></i>
													Meu site aparecerá no Google?
												</button>
											</h5>
										</div>

										<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body text-left">
												Sim, está incluso em nosso trabalho de desenvolvimento de sites cadastrar seu site no Google e otimizar ele de acordo com as boas práticas de SEO.<br/>

												Um site não fica na primeira página do Google se não seguir alguns parâmetros impostos pelo próprio Google na hora da criação. E nós estudamos e acompanhamos isso diariamente para poder executar as melhores práticas após criar seu site.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingTwo">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													<i class="fas fa-arrow-circle-down"></i>
													Quais tipos de sites vocês desenvolvem?​
												</button>
											</h5>
										</div>
										<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
											<div class="card-body text-left">
												Somos uma agência de criação de artes digitais e especializada em sites: Site por assinatura, site de pagamento único e site de vendas online (e-commerce).<br/>

												&bull; O site por assinatura é uma opção de pagamento mensal para quem precisa de uma solução completa de site, hospedagem e suporte sem ter grandes custos iniciais.<br/>

												&bull; O site de pagamento único é o site que não há mensalidades atreladas com a Dellano Sites, você pagará apenas uma única vez e o site será seu. Temos a missão de criar layouts incríveis, sob medida, pensando no seu negócio.<br/>
												&bull; A criação de loja virtual é o tipo de site para quem quer vender pela internet. Desenvolvemos um layout exclusivo também, e construímos uma verdadeira máquina de vendas online para você.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													<i class="fas fa-arrow-circle-down"></i>
													Quais são as etapas para ter a criação de um site profissional?
												</button>
											</h5>
										</div>
										<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
											<div class="card-body text-left">
												Resumidamente, o processo para a criação de sites é bem simples. Você solicitará o contato <a href="#contact">clicando aqui</a>, preencherá o briefing e em poucos dias você receberá seu site para aprovação. Após a análise e aprovação do cliente, será passado um contrato e será exigido 50% do valor total do projeto para primeira fase da criação do site e o restante será pago no final do projeto seguido da aprovação final do cliente.
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingFour">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
													<i class="fas fa-arrow-circle-down"></i>
													Depois de criar meu site, tem algum valor mensal obrigatório?
												</button>
											</h5>
										</div>
										<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
											<div class="card-body text-left">
												Dúvidas? Entre em contato <a href="#contact">clicando aqui.</a>
											</div>
										</div>
									</div>

								</div>

							</div>	<!-- /.col-lg-6 -->

							<div class="col-lg-6">

								<div id="accordion">

									<div class="card">
										<div class="card-header" id="headingFive">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
													<i class="fas fa-arrow-circle-down"></i>
													Qual a forma de pagamento?
												</button>
											</h5>
										</div>
										<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
											<div class="card-body text-left">
												Nós praticamente financiamos o site para você. Aceitamos pagamentos parcelados via boleto bancário sem juros, transferência bancária, cartão de crédito, para te dar maior segurança e condição para desenvolver o site.
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingSix">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesSix" aria-expanded="false" aria-controls="collapsesSix">
													<i class="fas fa-arrow-circle-down"></i>
													Vou conseguir fazer alterações no meu próprio site sem dificuldades?
												</button>
											</h5>
										</div>
										<div id="collapsesSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
											<div class="card-body text-left">
												Após desenvolver o site, deixamos preparado para você uma interface amigável e um gerenciador de contéudo do seu site. Você terá muita facilidade para editar seu site, nós vamos te orientar e prestar um suporte grátis nos 15 primeiros dias após a entrega do website.
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingSeven">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesSeven" aria-expanded="false" aria-controls="collapsesSeven">
													<i class="fas fa-arrow-circle-down"></i>
													Que informações preciso enviar para o meu site ser criado?
												</button>
											</h5>
										</div>
										<div id="collapsesSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
											<div class="card-body text-left">
												Após contato conosco, você receberá por email um briefing (questionário) aonde você poderá detalhar suas preferências e enviar seus textos. A criação do site é feita somente após entendermos a fundo o seu projeto e seus objetivos.
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingEight">
											<h5 class="mb-0">
												<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesEight" aria-expanded="false" aria-controls="collapsesEight">
													<i class="fas fa-arrow-circle-down"></i>
													Meu site vai funcionar em smartphone e tablet?
												</button>
											</h5>
										</div>
										<div id="collapsesEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
											<div class="card-body text-left">
												Sim, todos os nossos sites são resonsivos, ou seja, são criadas 3 versões diferentes: PC, Tablet e Smartphone. Desta forma, o usuário terá a melhor experiência independente do dispositivo que estiver utilizando para acessar o site.
											</div>
										</div>
									</div>
								</div>

							</div>	<!-- /.col-lg-6 -->

						</div>
					</div>
				</div>
			</div>

		</div><!-- /.container -->
	</section>

	<section id="contact" class="light-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">

						<form id="form-contact" action="">

							<h2>CONTATO</h2>
							<hr>
							<br/>
							<div class="row">

								<div class="col-lg-6">		

									<div class="form-group">									
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text"><i class="far fa-user"></i></span></div>
											<input type="text" name="name" class="form-control" placeholder="Nome" required>
										</div>

									</div>

									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-phone"></i></span></div>
											<input type="tel" onkeyup="mascara(this,mtel);" name="tel" maxlength="15" class="form-control" placeholder="Telefone com DDD" required>
										</div>
									</div>

								</div>


								<div class="col-lg-6">

									<div class="form-group">	
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="far fa-envelope"></i></span>
											</div>
											<input type="email" name="email" class="form-control" placeholder="E-mail" required>
										</div>
									</div>

									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="far fa-building"></i></span>
										</div>
										<input type="text" name="company" class="form-control" placeholder="Empresa" required>
									</div>

								</div>

							</div><!-- /.row -->
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">									
										<select name="need" id="" class="form-control" required>
											<option value="">O que você precisa?</option>
											<option value="Site Institucional">Site Institucional</option>
											<option value="Loja Virtual">Loja Virtual</option>
											<option value="Otimizar meu site para o Google">Otimizar meu site para o Google</option>
											<option value="O que você precisa?">O que você precisa?</option>														

										</select>
									</div>
									<div class="form-group">									
										<select name="period" id="" class="form-control" required>
											<option value="">Qual período você quer ser contatado?</option>
											<option value="De manhã">De manhã</option>
											<option value="De tarde">De tarde</option>
										</select>
									</div>
									<div class="form-group">									
										<button class="btn btn-success" type="submit">Enviar</button>
									</div>
								</div>
							</div>
						</div><!-- ./section-title -->
					</form>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</section>

