<div class="header-page"></div>
<div class="container">

    <nav aria-label="breadcrumb">
        <p></p>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/galeria">Galeria</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fotos</li>
        </ol>
    </nav>

    <hr>

    <div class="row">

        <div class="col-md-12">
            <ul class="list-photos">
                {loop="$photos"}
                <li>
                    <a href="{function="url($value.image)"}" data-lightbox="image" data-title="{$value.title}">
                        <img src="{function="url($value.image)"}" alt="{$value.title}">
                    </a>
                </li>
                {/loop}
            </ul>
        </div>

    </div>

</div><!-- container -->