<div class="container">
  <section id="inicio">
      <br>
    <p>
      Fazer a reformulação de site é essencial para sua empresa, ter a
      modernização e atualização de sua marca na internet. Atualize seu site com
      as novas tendências da web, sites responsivos, sites indexados no Google,
      dinâmicos com banco de dados...
    </p>

    <p>
      Com as constantes mudanças no mundo da informática, cada vez mais novas
      tecnologias nascem para tornar os processos cada vez melhores e velozes.
      Por isso, de tempos em tempos, os websites devem ser redesenhados,
      trazendo o que há de novo no mercado e voltando a competir com seus
      concorrentes.
    </p>

    <h3>Nosso serviço de reformulação de sites</h3>
    <p>
      A Dellano Sites está sempre buscando a excelência para seus clientes,
      construindo websites muito mais atrativos, fazendo uma reformulação
      completa, utilizando tecnologias de ponta e inovadoras, buscando o bom
      design, a boa navegabilidade e o alto padrão.
    </p>

    <p>
      Nosso serviço de reformulação de sites, transforma um site defasado e
      desatualizado em um site moderno e com potencial para gerar grande retorno
      a sua empresa.
    </p>

    <p>
      Em nosso serviço de reformulação de sites, projetamos de forma minuciosa o
      design, os menus, a acessibilidade para o visitante, a parte de conteúdo,
      e até a forma como o Google irá enxergar seu site (SEO).
    </p>
  </section>
</div>
