<header style="height: 140px;"> 
</header>

<div class="container">
  <section class="section-title">

   <h2> <i class="fa fa-check-circle"></i> VENDA REALIZADA COM SUCESSO! </h2>

   <h3 class="alert alert-success">Status: <b>{$data.textStatus}</b><br/>Código da Transação: {$_GET['code']}</h3>
   <h3 class="alert alert-success">Olá agradecemos pela sua compra. Assim que for confirmada pela intermediadora de pagamento, enviaremos um e-mail notificando a confirmação da compra.</h3>
    
  </section>

</div><!--./container-->
